.middle {
    z-index: 11;
    position: absolute;
    top: 5%;
    left: 35%;
    transform: translateX(-50%);
    opacity: 0;
    animation: slideDown 1s ease forwards;
}

@keyframes slideDown {
    0% {
        top: -100px; /* Posição inicial */
        opacity: 0;
        left: 50%;
    }
    100% {
        top: 5%; /* Posição final no centro da tela */
        opacity: 1;
        left: 50%;
    }
}